.settings {
  background: #ffffff;
  box-shadow: 0px 20px 25px rgba(76, 103, 100, 0.1);
  border-radius: 16px;
  margin-right: 32px;
  max-width: 1167px;

  .container {
    padding: 30px;
    padding-bottom: 48px;
  }

  .uk-tab {
    margin-bottom: 32px;
    &::before {
      display: none;
    }
  }

  .uk-tab > * > a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #9f9f9f;
    text-transform: capitalize;
  }

  .uk-tab > .uk-active > a {
    color: #299d91;
    border-bottom: 2px solid #299d91;
  }
}
