.singIn {
  display: flex;
  justify-content: center;
  height: 100%;
  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

}
