.transactionHistoryTable {
  tr {
    th {
      color: var(--default-black, #191919);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-transform: capitalize;
    }
  }
}
