.account-form {
  .form-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .input-wrapper {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    label {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #525256;
      margin-bottom: 9px;
    }

    input {
      color: #525256;
      border: none;
      font-size: 15px;

      &:focus {
        border: 1px solid #d0d5dd;
      }
    }
  }

  button {
    max-width: 192px;
    margin-top: 30px;
  }
}
