.upload-image-wrapper {
  width: max-content;
  margin-right: 200px;

  .upload-image {
    height: max-content;
    border-radius: 8px;
    border-style: dashed;
    border-color: var(--gray-03, #9f9f9f);
    border-width: 1px;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    input {
      display: none;
    }

    .upload-image__frame {
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      position: relative;
    }
    .upload-image__gallery-add {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
    }
    .upload-image__upload-photo {
      color: var(--gray-03, #9f9f9f);
      text-align: center;
      font: var(--regular-12-16, 400 12px/16px "Inter", sans-serif);
      position: relative;
      width: 94px;
    }
  }
}
