.profileLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  width: 100%;
  text-decoration: none;
  padding: 32px 0px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }

  .imgWrapper {
    width: 33px;
    height: 33px;
    overflow: hidden;
    border-radius: 50%;
  }
  .profileText {
    .userName {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
    .linkText {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
